div.menu {
    background: #333;
    color: white;
    padding: 10px;
    height: 100%;
}

section {
    font-family: Roboto sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
    
}

nav ul li {
    list-style: none;
    margin: 0 auto;
    padding: 10px 0 0 0;
}

nav a {
    margin: 5px 0 0 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    border-bottom: 1px solid beige;
}

nav ul li a.disabled {
    color: orange;
}